head 
    title 핸디짐 - #{title}
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/static/css/styles.css")
    link(href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css")
    script(src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js")
    script(src=`//dapi.kakao.com/v2/maps/sdk.js?appkey=${kakaoMapKey}&libraries=services`)
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Noto+Sans:wght@400;500;600&display=swap" rel="stylesheet">
    script(src="https://kit.fontawesome.com/8343738bb6.js" crossorigin="anonymous")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.css")