head 
    title 핸디짐 - #{title}
    link(rel="stylesheet", href="/static/css/styles.css")
    script(src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js")
    script(src=`//dapi.kakao.com/v2/maps/sdk.js?appkey=${kakaoMapKey}&libraries=services`)