html
  include head
  body
    if message
      .messageContainer
          if message.success
              div.message#success=message.success
          if message.error
              div.message#error=message.error
          if message.info
              div.message#info=message.info
    include nav
    .bodyWrapper
      block content
    
    include footer
    