html
  include head
  body
    if message
      .messageContainer
          if message.success
              div.message#success=message.success
          if message.error
              div.message#error=message.error
          if message.info
              div.message#error=message.info
    include nav
    block content
    include footer
    