html 
    include head 
    body 
        if message 
        .message-container 
            if message.sucess 
                p.message#success=message.success 
            if message.error
                p.message#message=message.error
    include nav 
    block content 
    include footer
    