html
  .modal
      .modal__head 
        .modal__head__content 
          .xBtn X 닫기
          .headLine 1 / 4
      .modal__body
        .modal__body__prev < 
        .modal__body__next >
        .modal__body__content
        
      
  include head
  body
    if message
      .messageContainer
          if message.success
              div.message#success=message.success
          if message.error
              div.message#error=message.error
          if message.info
              div.message#info=message.info
    include nav
    .bodyWrapper
      block content
    
    include footer
    