nav 
    ul  
        if user 
            a(href="/logout") 로그아웃 
        else 
            a(href="/signin") 로그인 
            a(href="/auth/google") 구글 로그인
            a(href="/auth/kakao") 카카오 로그인 
            a(href="/signup") 회원가입 
