extends includes/layout
include mixins/conversationCardBlock

block content
    .narrowContainer
        each conversation in conversations
            each conversationUser in conversation.users
                if `${conversationUser._id}` !== `${user._id}`
                    +conversationCardBlock(conversationUser, conversation)
                        
            