extends includes/layout
include mixins/galleryCardBlock

block content
    .container.pageContainer
        if galleries.length > 0
            .pageHead
                div
                a(href="/gallery/upload") 
                    .btn.primary 업로드
            .galleryWrapper
                each gallery in galleries 
                    +galleryCardBlock(gallery)  

        else 
            .noResult
                .pageTitle 아직 게시글이 없습니다
                a(href="/gallery/upload").btn.primary 업로드 하러가기

        div(id=totalPage class="jsPageContainer pagination")


    script(src="/static/js/pagination.js") 
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/browser-image-compression@2.0.0/dist/browser-image-compression.js")