extends includes/layout
include mixins/galleryCardBlock

block content 
    each gallery in galleries 
        +galleryCardBlock({
            _id:gallery._id,
            thumbnail:gallery.photos[0].photo,
            title:gallery.title,
            creator:gallery.creator.nickname
        })
        

    div(id=totalPage, class="jsPageContainer")


    script(src="/static/js/pagination.js") 
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/browser-image-compression@2.0.0/dist/browser-image-compression.js")