extends includes/layout

block content
    .modalContainer
        .modalWrapper
            .croppperContainer
            #closeBtn 취소
           
    form(action="/gallery/upload" method="post" enctype="multipart/form-data").narrowContainer.box.uploadContainer
        input(type="hidden" name="_csrf" value=csrfToken)
        h3.uploadHead 사진 업로드
        .uploadColumn
            .uploadColumn__item
                span 타이틀
            .uploadColumn__item
                input(type="text" name="title" placeholder="ex) 오늘의 식단")
        .uploadColumn
            .uploadColumn__item
                span 사진
            .uploadColumn__item
                #galleryPreview
                .galleryBtn#fakeFileBtn
                    i.fa-solid.fa-camera
        input(type="file" id="realFileInput" name="galleryPhotos" multiple hidden)
        input(type="file" id="fakeFileInput" hidden)
        .submitBtnWrapper
            .submitBtn.secondary#jsSubmit 
                .emojiText
                    i.fa-solid.fa-cloud-arrow-up 
                    span 업로드

    script(src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js") 
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/browser-image-compression@1.0.15/dist/browser-image-compression.js")

    script(src="/static/js/cropper.js") 
    script(src="/static/js/validFrom.js")