extends includes/layout
include mixins/galleryCardBlock

block content
    .container.pageContainer
        .pageHead
            .btn.secondary#modalBtn 검색
            a(href="/gallery/upload") 
                .btn.primary 업로드
        .galleryWrapper
            each gallery in galleries 
                +galleryCardBlock(gallery)  

        div(id=totalPage class="jsPageContainer pagination")


    script(src="/static/js/pagination.js") 
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/browser-image-compression@2.0.0/dist/browser-image-compression.js")