extends includes/layout

block content 
    .container
        form(action=`/gallery/${gallery._id}/update` method="post" enctype="multipart/form-data").uploadContainer
            input(type="hidden" name="_csrf" value=csrfToken)
            each photo in gallery.photos
                img(src=`/${photo}`,class="originalPreview" hidden)
            h3 갤러리 업로드
            .flexContainer
                .flexContainer__item 
                    span 타이틀
                .flexContainer__item 
                    input(type="text" name="title" value=gallery.title)
            .flexContainer
                .flexContainer__item 
                    span 사진선택
                .flexContainer__item 
                    .btn.primary#fakeFileBtn
                        i.fa-solid.fa-camera
                    input(type="file" name="photos" multiple accept="*" ) 
                    #galleryPreview
            .flexContainer 
                .flexContainer__item 
                    span 설명
                .flexContainer__item 
                    textarea(name="description" placeholder="ex) 궁금한점을 입력해주세요")=gallery.description
            input(type="submit" value="변경" class="btn primary")

    script(src="/static/js/cropper.js") 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js")

    script(src="/static/js/imageCompress.js")
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/browser-image-compression@2.0.0/dist/browser-image-compression.js")