extends includes/layout
include mixins/gymCardBlock

block content 
    .modalContainer
        .modal 
            .modal__title 검색
            form(action="/gym" method="get")
                input(type="text" name="searchTerm" placeholder="업체명이나 읍/면/동을 검색해주세요")
                .labelContainer
                    label(for="")
                        input(type="checkbox", name="yearRound") 
                        span 연중무휴 
                    label(for="") 
                        input(type="checkbox", name="oneday")
                        span 일일권
                button.btn.secondary 검색
    .container.gymContainer 
        .gymContainer__head
            .btn#modalBtn 검색
            a(href="/gym/upload")
                .btn.primary 업로드
            if searchTerm 
                h4 #{searchTerm}으로 검색한 결과입니다.
        .gymContainer__middle 
            each gym in gyms 
                +gymCardBlock({
                    _id:gym._id,
                    thumbnail:gym.photos[0],
                    name:gym.name,
                    title:gym.title
                })
        .gymContainer__end
            div(id=totalPage, class="jsPageContainer")

        script(src="/static/js/pagination.js") 
        script(src="/static/js/createModal.js") 