extends includes/layout
include mixins/gymCardBlock

block content 
    .modalContainer
        .modalWrapper
            .modal
                .modal__title 검색
                form(action=`/gym?page=1`)
                    input(type="text" name="searchTerm" value=renderQuery.searchTerm placeholder="업체명이나 읍면동을 검색해보세요")
                    .labelContainer
                        label
                            input(type="checkbox" name="yearRound" checked=renderQuery.isYearRound)
                            span 연중무휴
                        label
                            input(type="checkbox" name="oneday" checked=renderQuery.isOneday)
                            span 일일권
                    a(href="/gym").btn.secondary 초기화
                    button.btn.primary 검색
                //- a(href="/gym").btn.secondary 초기화
    .container.pageContainer
        if gyms.length > 0
            .pageHead
                .btn.secondary#modalBtn 검색
                a(href="/gym/upload") 
                    .btn.primary 업로드
            .gymWrapper
                each gym in gyms
                    +gymCardBlock(gym)
            div(id=totalPage class="jsPageContainer pagination")
        else
            .noResult
                .pageTitle 아직 게시글이 없습니다
                a(href="/gym/upload").btn.primary 업로드 하러가기


    script(src="/static/js/pagination.js")
    script(src="/static/js/createModal.js") 
    script(src="/static/js/likeFun.js")