extends includes/layout
include mixins/gymCardBlock

block content 
    .modalContainer
        .modalWrapper
            .modal
                .modal__title 검색
                form(action=`/gym?page=1`)
                    input(type="text" name="searchTerm" value=renderQuery.searchTerm placeholder="업체명이나 읍면동을 검색해보세요")
                    .labelContainer
                        label
                            input(type="checkbox" name="yearRound" checked=renderQuery.isYearRound)
                            span 연중무휴
                        label
                            input(type="checkbox" name="oneday" checked=renderQuery.isOneday)
                            span 일일권
                    a(href="/gym").btn.secondary 초기화
                    button.btn.primary 검색
                //- a(href="/gym").btn.secondary 초기화
    .container.pageContainer
        .pageHead
            .btn.secondary#modalBtn 검색
            a(href="/gym/upload") 
                .btn.primary 업로드
        .gymWrapper
            each gym in gyms
                +gymCardBlock({
                    _id:gym._id,
                    location:gym.location,
                    creator:gym.creator,
                    thumbnail:gym.photos[0],
                    name:gym.name,
                    title:gym.title,
                    isLike:gym.like_users.includes(String(user._id)),
                    totalLike:gym.like_users.length,
                    totalComment:gym.comments.length,
                    views:gym.views
                })
        div(id=totalPage class="jsPageContainer pagination")


    script(src="/static/js/pagination.js")
    script(src="/static/js/createModal.js") 
    script(src="/static/js/likeFunc.js")