extends includes/layout

block content
    form(action="/gym/upload" method="post" enctype="multipart/form-data").uploadContainer.narrowContainer.box
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="hidden" name="address")
        input(type="hidden" name="location")
        h3.uploadHead 체육관 업로드
        #validErrorMessage
        .uploadColumn
            .uploadColumn__item
                span 이름
            .uploadColumn__item
                input(type="text" name="name" placeholder="ex) 발로란트체육관")
        .uploadColumn
            .uploadColumn__item
                span 타이틀
            .uploadColumn__item
                input(type="text" name="title" placeholder="ex) 하버 몸 만들어드립니다")
        .uploadColumn
            .uploadColumn__item
                span 설명
            .uploadColumn__item
                textarea(name="description" placeholder="체육관을 추천하는 이유를 자세하게 설명하세요")
        .uploadColumn
            .uploadColumn__item
                span 주소
            .uploadColumn__item
                #searchAddressBtn.btn.primary 주소검색
                #kakaoMap
                #result
        .uploadColumn
            .uploadColumn__item
                span 사진
            .uploadColumn__item
                button.btn.primary#fakeFileBtn
                    i.fa-solid.fa-camera
                //- input(type="file" name="photos" multiple)
                input(type="file" name="photos" multiple hidden)
                #preview
        .uploadColumn
            .uploadColumn__item
                span 연중무휴인가요?
            .uploadColumn__item
                input(type="radio" id="yearRound1" name="yearRound" value="네")
                label(for="yearRound1").btn.secondary.yearRoundLabel 네
                input(type="radio" id="yearRound2" name="yearRound" value="아니오")
                label(for="yearRound2").btn.secondary.yearRoundLabel 아니오
                input(type="radio" id="yearRound3" name="yearRound" value="모름")
                label(for="yearRound3").btn.secondary.yearRoundLabel 모름
        .uploadColumn
            .uploadColumn__item
                span 일일권이 가능한가요?
            .uploadColumn__item
                input(type="radio" id="oneday1" name="oneday" value="가능")
                label(for="oneday1").btn.secondary.onedayLabel 가능
                input(type="radio" id="oneday2" name="oneday" value="불가능")
                label(for="oneday2").btn.secondary.onedayLabel 불가능
                input(type="radio" id="oneday3" name="oneday" value="모름")
                label(for="oneday3").btn.secondary.onedayLabel 모름
        .uploadColumn#jsOnedayPay
            .uploadColumn__item
                span 일일권가격
            .uploadColumn__item.onedayPayItem
                input(type="text" name="onedayPay")
                p 원
                label
                    input(type="checkbox"
                    name="onedayPayCheckbox"
                    id="onedayPayCheckBox")                 
                    div 모름
        
        .btn.primary#jsSubmit 생성

    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/browser-image-compression@1.0.15/dist/browser-image-compression.js")

    script(src="/static/js/daumAddress.js")
    script(src="/static/js/imageCompress.js")
    script(src="/static/js/createOnedayPay.js")
    script(src="/static/js/confirmRefresh.js")
    script(src="/static/js/validFrom.js") 
