extends includes/layout 

block content 
    .container.home
        .home__main
            .home__main__img
                img(src="/static/images/main_image.webp", alt="")
            .home__main__text
                div " 운동은 최고의 제테크입니다
                div 행복한 미래를 위한 저축입니다 "
