extends includes/layout 

block content 
    //- .container.home
    //-     #quotesDiv 
    //-         span
    .container.home
        .box
            .box__item.row.first
                .box__item__img
                    img(src="/static/images/main-img4.png", alt="")
                .box__item__text
                    p 무한의 바다무한의 바다무한의
                    a(href="/post/upload")
                        .btn.primary 무한의바다 보러가기
        .box
            .box__item.column.second
                .box__item__img
                    img(src="/static/images/main-img.png", alt="")
                .box__item__text
                    p 근처 체육관
                    a(href="/gym")
                        .btn.primary 가자
            .box__item.column.third
                .box__item__img
                    img(src="/static/images/main-img2.png", alt="")
                .box__item__text
                    p 내가 체육관 등록
                    a(href="/gym/upload")
                        .btn.primary 가자

      

    script(src="/static/js/lifeQuotes.js") 