extends includes/layout 

block content 
    //- .container.home
    //-     #quotesDiv 
    //-         span
    .container.home
        .homeBox
            .homeBox__item.row.first
                .homeBox__item__img
                    img(src="/static/images/main-img4.png", alt="")
                .homeBox__item__text
                    p 무한의 바다무한의 바다무한의
                    a(href="/post/upload")
                        .btn.primary 무한의바다 보러가기
        .homeBox
            .homeBox__item.column.second
                .homeBox__item__img
                    img(src="/static/images/main-img.png", alt="")
                .homeBox__item__text
                    p 근처 체육관
                    a(href="/gym")
                        .btn.primary 가자
            .homeBox__item.column.third
                .homeBox__item__img
                    img(src="/static/images/main-img2.png", alt="")
                .homeBox__item__text
                    p 내가 체육관 등록
                    a(href="/gym/upload")
                        .btn.primary 가자