extends includes/layout 

block content 
    //- .container.home
    //-     #quotesDiv 
    //-         span
    .container.home
        .homeBox
            .homeBox__item.row.first
                .homeBox__item__img
                    img(src="/static/images/main-img4.png", alt="")
                .homeBox__item__text
                    p 운동 관련 정보를 소통해보세요.
                    a(href="/post/upload")
                        .btn.primary 게시판 바로가기
        .homeBox
            .homeBox__item.column.second
                .homeBox__item__img
                    img(src="/static/images/main-img.png", alt="")
                .homeBox__item__text
                    p 근처 연중무휴 체육관이 궁금하신가요?
                    a(href="/gym")
                        .btn.primary 체육관 찾으러 가기
            .homeBox__item.column.third
                .homeBox__item__img
                    img(src="/static/images/main-img2.png", alt="")
                .homeBox__item__text
                    p 여러분의 아이템을 자랑해보세요!
                    a(href="/gym/upload")
                        .btn.primary 갤러리 바로가기