extends includes/layout
include mixins/postCardBlock

block content
    .modalContainer
        .modalWrapper
            .modal
                .modal__title 검색
                form(action="/post" method="get")
                    input(name="searchTerm" value=renderQuery.searchTerm placeholder="제목을 검색해보세요")
                    select(name="category")
                        - let i = 0;
                        - const arr = ["모두","자유","질문","공유","리뷰","Flex"]
                        while i < arr.length
                            option(value=arr[i] selected=(renderQuery.category === arr[i] ? true : undefined))=arr[i]
                            - i++
                    .labelContainer
                        label
                            input(type="checkbox" name="orderByRecommend" value="on" checked=renderQuery.isRecommend)
                            span 추천순
                    a(href="/post").btn.secondary 초기화
                    button.btn.primary 검색
    .container.pageContainer
        if posts.length > 0 
            .pageHead
                .btn.secondary#modalBtn 검색
                a(href="/post/upload") 
                    .btn.primary 업로드
            div
                each post in posts
                    +postCardBlock(post)
            div(id=totalPage class="jsPageContainer pagination")
        else 
            .noResult
                .pageTitle 아직 게시글이 없습니다
                a(href="/post/upload").btn.primary 업로드 하러가기
    
    script(src="/static/js/pagination.js") 
    script(src="/static/js/createModal.js") 
    script(src="/static/js/convertDate.js") 