extends includes/layout

block content 
    form(action="/post/upload" method="post" enctype="multipart/form-data")
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="text", name="title" placeholder="제목")
        input(type="text" name="category" placeholder="카테고리")
        textarea(name="description")
        input(type="submit" value="업로드")

    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js")
    script(src="/static/js/useRichText.js")
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/browser-image-compression@2.0.0/dist/browser-image-compression.js")