extends includes/layout
include mixins/postCardBlock


block content 
    .container
        form(action="/post" method="get") 
            input(name= "searchTerm" value=renderQuery.searchTerm)
            select(name="category")  
                - let i = 0;
                - const arr = ["모두","자유","질문","공유","리뷰","Flex"]
                while i < arr.length 
                    option(value=arr[i] selected=(renderQuery.category === arr[i] ? true : undefined))=arr[i] 
                    - i++
            label
                span 추천순
                input(type="checkbox", name="orderByRecommend" value="on" checked=renderQuery.isRecommend)
            input(type="submit", value="검색")
            a(href="/post") 초기화
        each post in posts 
            +postCardBlock({
                category: post.category,
                _id:post._id,
                commentLength: post.comments.length,
                likeLength: post.like_users.length,
                title: post.title,
                createdAt: post.createdAt,
                creator: post.creator
            })


    div(id=totalPage, class="jsPageContainer")
    script(src="/static/js/pagination.js") 
    script(src="/static/js/convertDate.js") 