extends includes/layout
include mixins/oauthBlock

block content
    .container 
        .formContainer
            h3 회원가입
            form(action=`/signup?redirectUrl=${redirectUrl}` method="post")
                input(type="hidden" name="_csrf" value=csrfToken)
                input(type="text" name="nickname" placeholder="닉네임")
                input(type="email" name="email" placeholder="이메일")
                input(type="password" name="password" placeholder="비밀번호")
                input(type="password" name="passwordRepeat" placeholder="비밀번호확인")
                input(type="submit" value="회원가입")
                a(href=`/signup?redirectUrl=${redirectUrl}`) 
                    .btn.tertiary 계정이 있으신가요?    
                +oauthBlock
    script(src="/static/js/formInvalid.js") 