extends includes/layout
include mixins/oauthBlock

block content
    .container
        .formContainer
            h3 로그인
            form(action=`/signin?redirectUrl=${redirectUrl}` method="post")
                input(type="hidden" name="_csrf" value=csrfToken)
                input(type="email" name="email" placeholder="이메일")
                input(type="password" name="password" placeholder="비밀번호")
                input(type="submit" value="로그인").primary
                a(href=`/signup?redirectUrl=${redirectUrl}`) 
                    .btn.tertiary 계정이 없으신가요?
                +oauthBlock