
extends includes/layout
include mixins/gymCardBlock
include mixins/galleryCardBlock

block content
    .gymContainer__middle 
        each gym in gyms 
            +gymCardBlock({
                _id:gym._id,
                thumbnail:gym.photos[0],
                name:gym.name,
                title:gym.title,
                isLike:gym.like_users.includes(String(user._id)),
                totalComment:gym.comments.length,
                totalLike:gym.like_users.length
            })
        each post in posts 
            h1=post
    

