@import "../config/variable";
@import "../config/mixins";

.detailPage {
  display: flex;
  width: 100%;
  gap: 20px;
  h2 {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 20px;
  }
  p {
    white-space: pre-wrap;
  }
  .head {
    display: flex;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
  }
  .section {
    margin-bottom: 20px;
  }
  .desc {
    min-height: 250px;
  }

  &__item {
    background-color: $white;
    box-shadow: $boxShadow;
    margin: 30px 0;

    &:first-child {
      width: 80%;
      padding: 30px;
      img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 4 / 3;
      }
    }
    &:nth-child(2) {
      padding: 20px;
      width: 20%;
      position: sticky;
      top: $navHeight;
      height: fit-content;
      a {
        &:hover {
          .title {
            text-decoration: underline;
          }
        }
        p {
          margin-top: 10px;
          .index {
            font-weight: 700;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@include mobile {
  .detailPage {
    gap: 0px;
    flex-direction: column-reverse;
    h2 {
      font-size: 22px;
      line-height: 26px;
      padding-bottom: 10px;
    }
    .head {
      font-size: 16px;
      font-weight: 700;
    }
    .section {
      margin-bottom: 8px;
      .avatar {
        width: 16px;
        height: 16px;
      }
    }
    .desc {
      min-height: 150px;
    }

    &__item {
      margin: 10px 0;

      &:first-child {
        width: 100%;
        padding: 10px;
      }
      &:last-child {
        width: 100%;
        height: fit-content;
        padding: 10px;
        position: static;
      }
    }
  }
}
