@import "../config/variable";
.detailPage {
  display: flex;
  width: 100%;
  gap: 20px;
  h2 {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 20px;
  }
  p {
    white-space: pre-wrap;
  }
  .desc {
    min-height: 200px;
  }
  .head {
    display: flex;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
  }
  .section {
    margin-bottom: 20px;
  }

  &__item {
    background-color: $white;
    box-shadow: $boxShadow;
    margin: 30px 0;
    &:first-child {
      width: 80%;
      padding: 30px;
      img {
        width: 100%;
        aspect-ratio: 4 / 3;
        object-fit: cover;
      }
    }
    &:last-child {
      padding: 20px;
      width: 20%;
      position: sticky;
      top: $navHeight;
      height: fit-content;
      a {
        &:hover {
          .title {
            text-decoration: underline;
          }
        }
        p {
          margin-top: 10px;
          .index {
            font-weight: 700;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
