@import "../config/variable";

.pageContainer {
  min-height: calc(100% - $navHeight);
  height: auto;
  display: flex;
  flex-direction: column;

  .pageHead {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
  }
  .pageTitle {
    font-size: 22px;
    font-weight: 700;
    margin: 10px 0;
  }
  .noResult {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 20px;
  }

  .gymWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 20px;
  }

  .galleryWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 20px;
  }

  .pagination {
    margin-top: auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 5px;
    .page {
      border: 1px solid $hoverColor;
      width: 26px;
      height: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .currentPage {
      background-color: $accentColor;
      border: none;
      color: $white;
    }
  }
}
