@import "../config/veriable.scss";

.gymContainer {
  min-height: calc(100% - $navHeight);
  height: auto; //창이 줄어들때 맞춰줌
  display: flex;
  flex-direction: column;
  &__head {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    gap: 20px;
  }
  &__middle {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 20px;
  }
  &__end {
    margin-top: auto;
    display: flex;
    align-self: center;
    padding: 20px 0;
    gap: 5px;
    .page {
      border: 1px solid $hoverColor;
      width: 26px;
      height: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .currentPage {
      background-attachment: $accentColor;
      border: none;
      color: white;
    }
  }
}
