// .gymDetail {
//   .slideContainer {
//     max-width: 480px;
//     aspect-ratio: 3 / 4;
//     overflow: hidden;
//     .imgContainer {
//       display: flex;
//       width: 100%;
//       height: 100%;
//       transition: all ease-in-out 0.2s;
//     }
//     img {
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//     }
//   }
// }
.gymDetail {
  &__section {
    padding-top: 10px;
    h1 {
      font-size: 40px;
      font-weight: 700;
    }
    h3 {
      font-size: 24px;
    }
    &:nth-child(2) {
      display: flex;
      gap: 10px;
    }
  }
  &__imgLayout {
    display: flex;
    max-width: 100%;
    aspect-ratio: 7.5 / 4;
    gap: 5px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .imgContainer {
      &:first-child {
        aspect-ratio: 3 / 4;
        width: 40%;
      }
      &:nth-child(2) {
        aspect-ratio: 3 / 4;
        width: 40%;
      }
      &:nth-child(3) {
        width: 20%;
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 5px;
        #viewMore {
          position: absolute;
          color: black;
          background-color: white;
          bottom: 10;
          right: 7;
          font-size: 14px;
          border: 1px solid black;
          border-radius: 5px;
          padding: 5px;
          &:hover {
            background-color: #eee;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.infoBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: black;
  background-color: #eee;
  border-radius: 5px;
}

.yes {
  background-color: #1c99e6;
  color: white;
}

.no {
  background-color: #c82931;
  color: white;
}

p {
  white-space: pre-wrap;
  word-wrap: break-word;
}

#kakaoMap {
  width: 100%;
  aspect-ratio: 2 / 1;
  #jsAddress {
    position: absolute;
    bottom: 20;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    z-index: 102;
  }
}
