@import "../config/variable";

.onedayPayItem {
  display: flex;
  align-items: center;
  input[type="text"] {
    max-width: 100px;
    border: none;
    border-bottom: 1px solid $borderColor;
    text-align: right;
  }
  p {
    font-size: 20px;
    margin-left: 5px;
  }
  label {
    display: flex;
    align-items: center;
    input {
      width: 40px;
      height: 20px;
    }
    div {
      width: 60px;
    }
  }
}
