@import "../config/variable";
@import "../config/mixins";

.home {
  // height: calc(100% - $navHeight);
  min-height: calc(100% - $navHeight);
  .homeBox {
    display: flex;
    &:first-child {
      height: 40%;
    }
    &:last-child {
      height: 60%;
    }
    &__item {
      display: flex;
      width: 100%;
      &.row {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .homeBox__item__img {
          height: 90%;
          img {
            height: 100%;
            object-fit: cover;
          }
        }
      }
      &.column {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .homeBox__item__img {
          height: 52%;
          img {
            height: 100%;
            object-fit: cover;
          }
        }
      }
      &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        p {
          font-size: 32px;
        }
      }
      &.first {
        background-color: white;
        color: black;
      }
      &.second {
        background-color: $borderColor;
        color: white;
      }
      &.third {
        background-color: $accentHoverColor;
        color: white;
      }
    }
  }
}

@include mobile {
  .home {
    height: fit-content;
    .homeBox {
      display: flex;
      flex-direction: column;
      &:first-child {
        height: 500px;
      }
      &:last-child {
        height: 500px;
      }
      &__item {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 20px 0;
        &.row {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 20px;
          .homeBox__item__img {
            height: 60%;
            object-fit: scale-down;
          }
        }
        &.column {
          gap: 20px;
          .homeBox__item__img {
            height: 60%;
            object-fit: scale-down;
          }
        }
        &__text {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@include tablet {
  .home {
    .homeBox {
      &__item__text {
        p {
          font-size: 24px;
        }
      }
    }
  }
}
