mixin avatarBlock(avatar, size = "24px")
    if avatar
        img(src=`${avatar}` style={"width":size,"height":size} crossorigin="Anonymous").avatar
    else
        img(src="/static/images/noUser.webp" style={"width":size,"height":size}).avatar