mixin categoryBlock(category={})
    .category
        div 조회수
            span #{category.views}
        div 추천
            span #{category.likes}
        div 댓글
            span #{category.comments}