include userBlock

mixin galleryCardBlock(gallery={})
    .galleryCard 
        a(href=`/gallery/${gallery._id}`)
            img(src=`${gallery.thumbnail}`, alt=`${gallery.title}`).thumbnail
            h3=gallery.title
            +userBlock({
                _id:gallery.creator._id,
                avatarUrl:gallery.creator.avatarUrl,
                nickname:gallery.creator.nickname
            })