@import "../config/variable";
@import "../config/mixins";

.category {
  display: flex;
  gap: 5px;
  font-size: 14px;
  font-weight: 400;
  span {
    font-weight: 700;
    margin-left: 3px;
    color: $accentColor;
  }
}

@include mobile {
  .category {
    gap: 3px;
    font-size: 12px;
    span {
      margin-left: 1px;
    }
  }
}
