@import "../config/variable";

footer {
  height: $footerHeight;
  //   transform: translateY(-100%);
  border-top: 1px solid $borderColor;
  display: flex;
  align-items: center;
  justify-content: center;
}
