@import "../config/variable";

.gymCard {
  width: 100%;
  height: auto;
  position: relative;
  // border-radius: 5px;
  // border: 1px solid $borderColor;
  .section {
    margin-bottom: 5px;
    // padding: 0 10px;
  }
  a {
    width: 100%;
    height: auto;
    .thumbnail {
      width: 100%;
      aspect-ratio: 3 / 4;
      object-fit: cover;
      border-radius: 5px;
    }
    h3 {
      font-size: 20px;
      font-weight: 700;
      // margin: 2px 0;
    }
  }
  .likeBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.2s ease-in-out;
  }
  &__bottom {
    display: flex;
    justify-content: space-around;
    .emojiWrapper {
      display: flex;
      gap: 5px;
    }
  }
}
