.centerLikeBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  gap: 14px;
  padding: 20px 0 0 0;
  i {
    cursor: pointer;
  }
  div {
    font-weight: 700;
    font-size: 12px;
  }
}
