@import "../config/veriable.scss";

nav {
  border-bottom: 1px solid black;
  height: $navHeight;
  position: fixed;
  z-index: 100;
  background-color: $bgColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 100px;
  }
  .navContainer {
    display: flex;
    align-items: center;
    position: relative;
    &:first-child {
      justify-content: space-between;
      height: 65%;
    }
    &:nth-child(2) {
      justify-content: center;
      height: 35%;
      padding-bottom: 20px;
      gap: 30px;
    }
    &__item {
      &:last-child {
        .menubar {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          border: 1px solid $borderColor;
          border-radius: 20px;
          padding: 5px 5px 5px 12px;
          &:hover {
            cursor: pointer;
            box-shadow: $boxShadow;
          }
          .fa-bars {
            font-size: 16px;
          }
          img {
            font-size: 26px;
          }
        }
        .hidden {
          display: none;
        }
        .menuModal {
          background-color: $bgColor;
          position: absolute;
          top: 0;
          right: 0;
          box-shadow: $boxShadow;
          margin-top: 55px;
          z-index: 200;
          padding: 10px 0px;

          a {
            display: block;
            padding: 10px 20px;
            &:hover {
              background-color: $hoverColor;
            }
            &:last-child {
              border-top: 1px solid $borderColor;
              color: red;
            }
          }
        }
      }
    }
  }
}
