@import "../config/veriable.scss";

nav {
  border-bottom: 1px solid black;
  height: $navHeight;
  position: fixed;
  z-index: 100;
  background-color: $bgColor;
  img {
    width: 100px;
  }
  .navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    &__item {
      &:last-child {
        display: flex;
        gap: 10px;
      }
    }
  }
}
