.post {
  display: flex;
  &:first-child {
    border-top: 1px solid $borderColor;
  }
  &__item {
    height: 50px;
    padding: 12px 0;
    border-bottom: 1px solid $borderColor;
    display: flex;
    justify-content: center;
    &:nth-child(1) {
      width: 100px;
      justify-content: flex-start;
    }
    &:nth-child(2) {
      width: calc(100% - 450px);
      justify-content: flex-start;
      display: flex;
      align-items: center;
      gap: 16px;
    }
    &:nth-child(3) {
      width: 100px;
    }
    &:nth-child(4) {
      width: 150px;
      overflow: hidden;
      white-space: nowrap;
      justify-content: center;
    }
    &:nth-child(5) {
      width: 100px;
      text-align: center;
    }
  }
}
