@import "../config/variable";
@import "../config/mixins";

.post {
  display: flex;
  border-bottom: 1px solid $borderColor;
  align-items: center;
  &:first-child {
    border-top: 1px solid $borderColor;
  }
  &__item {
    padding: 12px 0;
    display: flex;
    justify-content: center;
    &:nth-child(1) {
      width: 100px;
      justify-content: flex-start;
    }
    &:nth-child(2) {
      width: calc(100% - 450px);
      justify-content: flex-start;
      display: flex;
      align-items: center;
      gap: 16px;
    }
    &:nth-child(3) {
      width: 100px;
      display: flex;
      gap: 8px;
    }
    &:nth-child(4) {
      width: 150px;
      overflow: hidden;
      white-space: nowrap;
      justify-content: center;
    }
    &:nth-child(5) {
      width: 100px;
    }
  }
}

@include mobile {
  .post {
    display: flex;
    border-bottom: 1px solid $borderColor;
    gap: 4px;
    &:first-child {
      border-top: 1px solid $borderColor;
    }
    &__item {
      padding: 8px 0;
      display: flex;
      justify-content: center;
      &:nth-child(1) {
        width: 50px;
        justify-content: flex-start;
        display: none;
      }
      &:nth-child(2) {
        justify-content: flex-start;
        display: flex;
        align-items: center;
        font-size: 14px;
        flex: 1;
      }
      &:nth-child(3) {
        width: fit-content;
        gap: 4px;
        font-size: 10px;
      }
      &:nth-child(4) {
        width: 100px;
        overflow: hidden;
        white-space: nowrap;
        justify-content: center;
        font-size: 12px;
      }
      &:nth-child(5) {
        display: none;
      }
    }
  }
}
