@import "_variable";
@import "_mixins";

.emojiContainer {
  display: flex;
  gap: 5px;
}
.emojiText {
  display: flex;
  gap: 3px;
  align-items: center;
  font-size: 14px;
}
.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 6px;
  margin: 0 auto;
}

.wideContainer {
  width: 100%;
  margin: 0 auto;
}

.narrowContainer {
  max-width: 840px;
  width: 100%;
  padding: 0 4px;
  margin: 0 auto;
}

.paper {
  background-color: $white;
  box-shadow: $boxShadow;
  padding: 30px;
  margin: 20px auto;
}

.box {
  border: 1px solid $borderColor;
  padding: 30px;
  margin: 20px auto;
}

.uploadContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@include mobile {
  .box {
    padding: 6px;
    margin: 0 auto;
    border: none;
  }
  .paper {
    padding: 6px;
    margin: 0 auto;
    border: none;
  }
  .uploadContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .emojiText {
    display: flex;
    gap: 1px;
    align-items: center;
    font-size: 10px;
  }
  .emojiContainer {
    display: flex;
    gap: 3px;
  }
}
