@import "variable";

body,
html {
  background-color: $bgColor;
  color: $textColor;
  font-family: $fontFamily;
  font-size: 16px;
  line-height: 1.4rem;
  position: relative;
  .bodyWrapper {
    height: auto;
    min-height: calc(100% - $navHeight);
    padding-top: $navHeight;
  }
  input,
  button,
  .btn,
  select {
    border: 1px solid $borderColor;
    height: 44px;
    padding: 0 12px;
    font-family: $fontFamily;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    outline: none;
    background-color: white;
  }
  input[type="submit"] {
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border: none;
  }
  textarea {
    border: 1px solid $borderColor;
    border-radius: 2px;
    font-family: $fontFamily;
    resize: none;
    background-color: white;
    padding: 12px;
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    font-weight: 700;
  }
  .primary {
    background-color: $accentColor;
    color: $white;
    &:hover {
      background-color: $accentHoverColor;
    }
  }
  .secondary {
    background-color: $bgColor;
    color: $accentColor;
    border: 1px solid $accentColor;
    &:hover {
      background-color: $accentColor;
      color: $white;
    }
  }
  .tertiary {
    color: $accentColor;
    background-color: $bgColor;

    &:hover {
      background-color: $hoverColor;
    }
  }
}

.hidden {
  display: none;
}

.like {
  color: $red;
}
