$accentColor: #00b894;
$accentHoverColor: #00a282;
$subAccentColor: #182426;

$fontFamily: "Gowun Batang", serif;
$bgColor: rgb(247, 247, 247);
$textColor: #1d1d1d;
$borderColor: #bdc3c7;
$hoverColor: rgb(233, 233, 233);
$boxShadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

$blue: #00a8ff;
$blueHover: #00a1f2;
$red: #ff5e57;
$redHover: #e9564e;

$yellow: #e1b12c;
$white: #ffffff;
$purple: #8c7ae6;

$footerHeight: 60px;
$navHeight: 70px;
