$accentColor: #01272b;
$accentHoverColor: #00454b;
$subAccentColor: #182426;

$fontFamilly: "Gowun Batang", serif;
$bgColor: rgb(247, 247, 247);
$textColor: #1d1d1d;
$borderColor: #bdc3c7;
$hoverColor: rgb(233, 233, 233);
$boxShadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

$blue: #00a8ff;
$red: #ff5e57;
$white: #f5f6fa;

$footerHeight: 60px;
$navHeight: 70px;
