$accentColor: #82589f;
$accentHoverColor: blue;

$fontFamily: "Gowun Batang", serif;

$bgColor: #101010;
$textColor: rgba(238, 238, 238, 0.903);
$borderColor: rgba(238, 238, 238, 0.903);
$hoverColor: purple;
$boxShadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

$footerHeight: 100px;

$blue: #0c2461;
$red: #b71540;

$navHeight: 80px;
