$accentColor: #1d1d1d;
$accentHoverColor: rgb(60, 60, 60);

$fontFamily: "Gowun Batang", serif;

$bgColor: rgb(247, 247, 247);
$textColor: #1d1d1d;
$borderColor: #1d1d1d;
$hoverColor: rgb(233, 233, 233);
$boxShadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

$blue: #0c2461;
$red: #b71540;

$footerHeight: 60px;
$navHeight: 60px;
